#demo{color: rgb(66, 66, 94); border-style: dashed;}
.ooo{background-color: rgb(87, 73, 73); color: rgb(241, 245, 248);}
img{
    border-radius: 50%;
}
div{background-color: rgb(160, 139, 139);}
#deo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: rgb(201, 101, 101);
}